extends layout

block content
  h1= title
  p Welcome to #{title}
  div(id="cpucontainer", style="min-width: 400px; height: 400px; margin: 0 auto")
  div(id="memcontainer", style="min-width: 400px; height: 400px; margin: 0 auto")
  div(id="dskcontainer", style="min-width: 400px; height: 400px; margin: 0 auto")