doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-1.7.2.min.js")
    script(src="http://code.highcharts.com/highcharts.js")
    script(src="http://code.highcharts.com/modules/exporting.js")
    script(type='text/javascript', src='http://cdn.tuppari.com/0.1.0/tuppari.js') 
    script(src="/javascripts/cpuchart.js")
    script(src="/javascripts/memchart.js")
    script(src="/javascripts/diskiochart.js")
  body
    block content